# Virtual environments
venv/
venv_threatlens/
.venv/
env/

# Python
__pycache__/
*.py[cod]

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp
# Datasets
data/raw/
data/processed/

# Local database
*.db